<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button name="back"> </ion-button>
    </ion-buttons>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formCadastro">
    <ion-card>
      <ion-item>
        <ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-label>
        <ion-input formControlName="name"placeholder="Name"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-label>
        <ion-input formControlName="cpf" placeholder="CPF"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-label>
        <ion-input formControlName="email" placeholder="Email"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-label>
        <ion-input  type="password" formControlName="password" placeholder="Password"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-label>
        <ion-input type="password" formControlName="confirmPassword" placeholder="Confirm password"></ion-input>
      </ion-item>
    </ion-card>


    <ion-button expand="block" (click)="salvarCadastro()" class="login">Sign up</ion-button>
    <p class="center">now,</p>
    <p class="center">you're ready to sign in!</p>
    <div>
      <ion-button routerLink="/home" class="centerB" size="default"
        >Login</ion-button
      >
    </div>
  </form>
</ion-content>
