<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button name="back"> </ion-button>
    </ion-buttons>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formCadastro">
    <ion-card>
      <ion-item>
        <ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-label>
        <ion-input formControlName="name" placeholder="Name"></ion-input>
        <ng-container *ngFor="let erro of mensagens.nome">
          <span
            class="msg-erro"
            *ngIf="formCadastro.get('name')?.hasError(erro.tipo) && (formCadastro.get('name')?.dirty || formCadastro.get('name')?.touched)"
          >
            {{erro.mensagem}}
          </span>
        </ng-container>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-label>
        <ion-input formControlName="cpf" placeholder="CPF"></ion-input>
        <ng-container *ngFor="let erro of mensagens.cpf">
          <span
            class="msg-erro"
            *ngIf="formCadastro.get('cpf')?.hasError(erro.tipo) && (formCadastro.get('cpf')?.dirty || formCadastro.get('cpf')?.touched)"
          >
            {{erro.mensagem}}
          </span>
        </ng-container>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-label>
        <ion-input formControlName="email" placeholder="Email"></ion-input>
        <ng-container *ngFor="let erro of mensagens.email">
          <span
            class="msg-erro"
            *ngIf="formCadastro.get('email')?.hasError(erro.tipo) && (formCadastro.get('email')?.dirty || formCadastro.get('email')?.touched)"
          >
            {{erro.mensagem}}
          </span>
        </ng-container>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-label>
        <ion-input
          type="password"
          formControlName="password"
          placeholder="Password"
        ></ion-input>
        <ng-container *ngFor="let erro of mensagens.nome">
          <span
            class="msg-erro"
            *ngIf="formCadastro.get('password')?.hasError(erro.tipo) && (formCadastro.get('password')?.dirty || formCadastro.get('password')?.touched)"
          >
            {{erro.mensagem}}
          </span>
        </ng-container>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-label>
        <ion-input
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm password"
        ></ion-input>
        <ng-container *ngFor="let erro of mensagens.confirmaSenha">
          <span
            class="msg-erro"
            *ngIf="formCadastro.get('confirmaSenha')?.hasError(erro.tipo) && (formCadastro.get('confirmaSenha')?.dirty || formCadastro.get('confirmaSenha')?.touched)"
          >
            {{erro.mensagem}}
          </span>
        </ng-container>
      </ion-item>
    </ion-card>

    <ion-button expand="block" (click)="salvarCadastro()" class="login"
      >Sign up</ion-button
    >
    <p class="center">now,</p>
    <p class="center">you're ready to sign in!</p>
    <div>
      <ion-button routerLink="/home" class="centerB" size="default"
        >Login</ion-button
      >
    </div>
  </form>
</ion-content>
